@page
@model TechShop.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Увійти";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Використайте свій акаунт, щоб увійти в систему.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Електронна пошта" />
                    <label for="Input_Email">Електронна пошта</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3 position-relative">
                    <input asp-for="Input.Password" class="form-control" style="padding-right: 3.5rem;" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                    <label for="Input_Password">Пароль</label>
                    <button type="button" class="btn btn-outline-secondary toggle-password position-absolute end-0 top-50 translate-middle-y me-2">
                        <i class="fas fa-eye"></i>
                    </button>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Запам'ятати мене
                    </label>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Увійти</button>
                </div>

                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зареєструватися</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.toggle-password').click(function () {
                const input = $(this).closest('.form-floating').find('input');
                const icon = $(this).find('i');

                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>
}